* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

nav, .main {
    width: 1500px;
    overflow: auto;
    margin: 0 auto;
}

.navContainer, .contentContainer {
    float: left;
    overflow: auto;
    width: 100%;
}

.navElement {
    width: 33.333%;
    float: left;
    background-color: darkseagreen;
    height: 50px;
}

.contentElement {
    width: 33.333%;
    float: left;
    overflow: auto;
    margin: 0 auto;
}

.contentElementPicture {
     float: left;
     width: 100%;
     height: 500px;
     background-image: url('../temp/bg.png');
     background-size: contain;
     background-repeat: no-repeat;
     margin: 0 auto;
 }

.contentElementPicture2 {
    float: left;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-image: url('../temp/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.contentElement {
}

.contentElementText {
    float: left;
    width: 100%;
    background-color: lightgrey;
    height: 200px;
}

.textTitle {
    text-align: center;
    padding: 0 25px 0 25px;
}

.contentElement .category {
    font-weight: bold;
}

.contentElement .author {
    font-style: italic;
}